<div class="render_wrapper">
  Display: <strong><%= @res["display_name"] %></strong>
  <br/>
  Natural: <strong><%= @res["address"]["natural"] %></strong>
  <br/>
  Road: <strong><%= @res["address"]["road"] %></strong>
  <br/>
  Suberb: <strong><%= @res["address"]["suburb"] %></strong>
  <br/>
  City: <strong><%= @res["address"]["town"] %></strong>
  <br/>
  District: <strong><%= @res["address"]["state_district"] %></strong>
  <br/>
  State: <strong><%= @res["address"]["state"] %></strong>
  <br/>
  Post Code: <strong><%= @res["address"]["postcode"] %></strong>
  <br/>
  Country: <strong><%= @res["address"]["country"] %></strong>
  <br/>
  Country Code: <strong><%= @res["address"]["country_code"] %></strong>
</div>